<app-header></app-header>

<div class="body-page">
    <div class="text-center">
        <button class="btn btn-primary mt-2" routerLink="/company/registration">Cadastrar</button>
    </div>

    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col" colspan="2" class="text-center">Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let company of companies">
                <td>{{ company.id }}</td>
                <td>{{ company.name }}</td>
                <td>{{ company.email }}</td>
                <td>
                    <div class="text-center">
                        <button class="btn btn-warning" (click)="setCompany(company.id)" routerLink="/company/atualization">Editar</button>
                    </div>
                </td>
                <td>
                    <div class="text-center">
                        <button class="btn btn-danger" (click)="setCompany(company.id)" routerLink="/company/removal">Deletar</button>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="5" class="text-center">Quantidade de empresas: {{ companies.length }}</th>
            </tr>
        </tfoot>
    </table>
</div>

<app-footer></app-footer>
