<app-header></app-header>

<div class="body-page">

    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Filial</th>
                <th scope="col">Cnpj</th>
                <th scope="col">CEP</th>
                <th scope="col">Estado</th>
                <th scope="col">Cidade</th>
                <th scope="col">Bairro</th>
                <th scope="col">Endereço</th>
                <th scope="col">Número</th>
                <th scope="col">Complemento</th>
                <th scope="col">Id do cliente</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ address.id }}</td>
                <td>{{ address.branch }}</td>
                <td>{{ address.cnpj }}</td>
                <td>{{ address.zipCode }}</td>
                <td>{{ address.state }}</td>
                <td>{{ address.city }}</td>
                <td>{{ address.neighborhood }}</td>
                <td>{{ address.address }}</td>
                <td>{{ address.number }}</td>
                <td>{{ address.complement }}</td>
                <td>{{ address.client.id }}</td>
            </tr>
        </tbody>
    </table>

    <div class="text-center">
        <p class="fw-bold fs-5">Você realmente deseja deletar o endereço de id {{ id }}?</p>
        <button class="btn btn-primary btn-block m-1" routerLink="/address">Cancelar</button>
        <button (click)="deleteAddress()" class="btn btn-danger btn-block m-1">Deletar</button>
    </div>
</div>

<app-footer></app-footer>
