<app-header></app-header>

<div class="body-page center">
    <h4 class="text-center mt-3">Cadastro</h4>

    <form [formGroup]="form" class="form mt-4">

        <div class="form-group mb-3">
            <label for="user" class="fw-bold">Usuário</label>
            <input class="form-control" id="user" [value]="user.email" disabled autofocus>
        </div>

        <div class="form-group mb-3">
            <label for="name" class="fw-bold">Nome da empresa</label>
            <input formControlName="name" id="name" class="form-control" placeholder="Nome da empresa" autofocus>
            <small *ngIf="form.get('name')?.errors?.['required']" class="text-danger d-block mt-2">
                Nome da empresa é necessário!
            </small>
        </div>

        <div class="form-group mb-3">
            <label for="email" class="fw-bold">Email da empresa</label>
            <input formControlName="email" id="email" class="form-control" placeholder="Email da empresa" autofocus>
            <small *ngIf="form.get('email')?.errors?.['required']" class="text-danger d-block mt-2">
                Email da empresa é necessário!
            </small>
            <small *ngIf="form.get('email')?.errors?.['email']" class="text-danger d-block mt-2">
                Email da empresa é incorreto!
            </small>
        </div>

        <div class="text-center">
            <button class="btn btn-secondary btn-block m-1" routerLink="/company">Cancelar</button>
            <button [disabled]="form.invalid" (click)="editCompany(form)" type="submit" class="btn btn-primary btn-block m-1">Editar</button>
        </div>

    </form>
</div>

<app-footer></app-footer>