.botao{
    margin: 5px;
}

.body-page{
    margin-top: 10px;
    width: 70%;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    padding-top: 10px;
}